@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(0.95);
  }
}

.Circle {
  background-color: rgb(var(--background)); 
  animation: spin 60s linear infinite;
}

.Heart {
  animation: heartbeat 1s linear infinite;
}

@keyframes border-dance {
  0% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
  100% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
}

.Line {
  width: 2px;
  background: linear-gradient(90deg, rgb(64 64 64 ) 50%, transparent 50%), linear-gradient(90deg, rgb(64 64 64 ) 50%, transparent 50%), linear-gradient(0deg, rgb(64 64 64 ) 50%, transparent 50%), linear-gradient(0deg, rgb(64 64 64 ) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
  animation: border-dance 6s infinite linear;
}

